.DS_Store

.vscode/

/model/22
/model/33
/model/Asuna
/model/chino
/model/Pio
/model/platelets
/model/rem
/model/sagiri
/model/ShizukuTalk
/model/Tia
/model/umaru
/model/HyperdimensionNeptunia/blanc*
/model/HyperdimensionNeptunia/nepmaid
/model/HyperdimensionNeptunia/nepnep
/model/HyperdimensionNeptunia/general
/model/HyperdimensionNeptunia/histoire*
/model/HyperdimensionNeptunia/neptune*
/model/HyperdimensionNeptunia/nepswim
/model/HyperdimensionNeptunia/vert_classic
/model/HyperdimensionNeptunia/noir_classic
/model/HyperdimensionNeptunia/nepgear